# Ignore the dataset directory or file
dataset

# If the dataset is a directory and you want to ensure all its contents are ignored
dataset/
.idea/
.venv/

# Ignore specific types of files within the dataset directory (optional)
dataset/*.jpg
dataset/*.png

# Ensure .gitignore itself is not ignored
!.gitignore
